<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <title>Business Analysis</title>
  </head>
  <body>
    <h1>Projection</h1>
    <h1>Correction</h1>
    <div id="root">

      <div id="wrapper">
        <div id="app"></div>
        <div id="app2"></div>
      </div>
    </div>
    <script type="text/javascript" src="bundle.js"></script>
</body>

</html>